main section#products {
  color: $primary_color;
  padding: $padding_unit * 2 0;
  min-height: 100vh;

  .btn.btn-info {
    color: $third_color;
    background-color: $primary_color;
    border-color: $primary_color;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.8;
    }
  }

  .new-product {
    padding: $padding_unit * 2 0;

    p {
      padding: $padding_unit 0;
    }
  }
}
