// ---------------------------  Variables ----------------------------

// Font
$font_size: 18px;
$font_weight: 400;
$title_weight: $font_weight * 2;

// Colors
$primary_color: #0B3B0B;
$secondary_color: #01DF74;
$third_color: #CEF6E3;

// Margins & Padding
$margin_unit: 10px;
$padding_unit: 20px;

// Transitions
$hover_time: 0.25s;
